.profile__title-box {
  display: flex;
  align-items: center;
  margin: 22px 0 0 30px;
}

@media screen and (max-width: 900px) {
  .profile__title-box {
   width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .profile__title-box {
    margin-top: 22px;
    margin-left: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
