.popup__container {
  position: relative;
  margin: 195px auto;
  min-width: 470px;
  min-height: 370px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 485px) {
  .popup__container {
    max-width: 282px;
    min-height: calc(322px + 16px + 20px);
    margin: 123px auto;
  }
}
