.profile {
  /* border: 1px solid red; */
  color: white;
  display: flex;
  margin: 0 0 51px 0;
}

@media screen and (max-width: 895px) {
  .profile {
    justify-content: center;
  }
}

@media screen and (max-width: 580px) {
  .profile {
  flex-direction: column;
  align-items: center;
  max-width: 290px;
  margin: 0 auto 36px auto;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
}
}
