.profile {
  /* border: 1px solid red; */
  color: white;
  display: flex;
  margin: 0 0 51px 0;
}

@media screen and (max-width: 485px) {
  .profile {
  flex-direction: column;
  align-items: center;
  max-width: 282px;
  margin: 0 auto 36px auto;
  }
}
