.profile__add-button-border {
  border: 1px solid white;
  width: 150px;
  height: 50px;
  padding: 0;
  background-color: black;
  align-self: center;
  cursor: pointer;
  transition: opacity 1s;
}

@media screen and (max-width: 650px) {
  .profile__add-button-border {
    width: 282px;
    height: 50px;
  }
}

.profile__add-button-border:hover {
  opacity: 80%;
}
