.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: auto;
  column-gap: 17px;
  row-gap: 20px;
  min-height: 744px;
  margin-bottom: 67px;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 879px) {
  .elements {
    max-width: calc(282px * 2 + 17px);
    margin: 0 auto 48px auto;
  }
}

@media screen and (max-width: 580px) {
  .elements {
    max-width: 282px;
  }
}
